body {
    font-family: Arial;
    background-color: #0D1117;
    padding: 50px;
    color: white;
    font-size: 25px;
    overflow: hidden;
}

.center {
    text-align: center;
    margin: 0px;
    margin-left: -100px;
    padding-bottom: 20px;
}

#buttons {
    margin-left: -100px;
    margin-top: 35px;
}

#numerator {
    margin-top: 25px;
    font-size: 30px;
}